@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GFS Didot", serif;
  background: #fff9f7;
  color: #000;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  /* WebKit */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 10px;
  height: 100%;
}

p,
a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.date {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.date-res {
  display: none;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.title {
  font-family: "GFS Didot", serif;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  overflow: hidden;
}

.description {
  text-align: justify;
  overflow: hidden;
}

.main-title {
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-align: center;
}

.main-title.res {
  display: none;
}

.icon-container {
  position: relative;
  display: flex;
  width: 175px;
  justify-content: space-between;
}
.icon-container li {
  cursor: pointer;
  list-style: none;
}
.icon-container li img {
  width: 20px;
  height: 20px;
}

.button {
  font-family: "Lato", sans-serif;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background: #fafafa;
  width: 230px;
  height: 56px;
  border-radius: 32px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
}

.navigation {
  position: relative;
  font-family: "Exo 2", sans-serif;
  width: 100%;
  height: 61px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  width: 582px;
  display: flex;
  justify-content: space-between;
}
.navigation ul li {
  list-style: none;
}
.navigation ul li a {
  text-transform: uppercase;
  letter-spacing: 0.15px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
}

.close-nav {
  display: none;
}

.bread-cumb {
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 175px;
}
.bread-cumb p,
.bread-cumb a {
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-style: italic;
  letter-spacing: -0.5px;
}
.bread-cumb a {
  text-decoration: none;
  color: #000;
  margin-right: 16px;
}
.bread-cumb img {
  width: 7px;
  height: 14px;
  margin-right: 16px;
}

.panigation {
  position: relative;
  display: flex;
  width: 250px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}
.panigation p {
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.panigation .active {
  color: #fff;
  border-radius: 50%;
  background: #ff8c06;
}
.panigation img {
  width: 12px;
  height: 20px;
}

.followers {
  margin-top: 30px;
  display: flex;
}
.followers p {
  margin-left: 20px;
}

.latest-find {
  margin-top: 80px;
  border: 3px solid #be9656;
  border-radius: 16px;
}
.latest-find .text-box {
  margin-top: 30px;
}
.latest-find .text-box p {
  height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
.latest-find .text-box p:nth-child(2) {
  font-size: 24px;
  height: 36px;
  margin-top: 10px;
}
.latest-find .products-list .product {
  margin-top: 25px;
}
.latest-find .products-list .product .image-box {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  height: 225px;
  border-bottom: 1px solid #000;
}
.latest-find .products-list .product .image-box img {
  width: 100%;
  height: 200px;
}
.latest-find .products-list .product .content {
  margin-top: 25px;
}
.latest-find .products-list .product .content .title {
  height: 36px;
  font-size: 14px;
  letter-spacing: 0.15%;
  text-align: center;
}

.show-all {
  position: relative;
  font-size: 18px;
  text-decoration: underline;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  bottom: -10px;
}

header {
  position: relative;
  width: 100%;
  height: 160px;
  padding: 0px 174px 0px 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-icon,
header .search-icon {
  display: none;
}
header .logo-header {
  width: 170px;
  height: 97px;
}
header .search-header {
  position: relative;
  width: 470px;
  height: 40px;
}
header .search-header input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 24px;
  border: none;
  padding-left: 20px;
}
header .search-header .search-icon-header {
  position: absolute;
  top: 9px;
  right: 20px;
  cursor: pointer;
}

.banner-home {
  width: 100%;
  height: 400px;
}
.banner-home img {
  width: 100%;
  height: 100%;
}

.trendy-home {
  position: relative;
  padding: 100px 174px 0px 175px;
  width: 100%;
}
.trendy-home .trendy-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}
.trendy-home .trendy-box .main-trendy {
  position: relative;
  width: 42.5%;
}
.trendy-home .trendy-box .main-trendy .image-box {
  height: 609px;
}
.trendy-home .trendy-box .main-trendy .image-box img {
  width: 100%;
  height: 100%;
}
.trendy-home .trendy-box .main-trendy .content .date {
  margin-top: 20px;
}
.trendy-home .trendy-box .main-trendy .content .title {
  font-size: 28px;
  line-height: 40px;
  min-height: 80px;
  max-height: 120px;
  letter-spacing: -1.5px;
  margin-top: 15px;
}
.trendy-home .trendy-box .main-trendy .content .icon-container {
  margin-top: 15px;
}
.trendy-home .trendy-box .trendy-list {
  width: 55%;
  margin-left: 30px;
}
.trendy-home .trendy-box .trendy-list .trendy {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.trendy-home .trendy-box .trendy-list .trendy .image-box {
  width: 47%;
  height: 177px;
}
.trendy-home .trendy-box .trendy-list .trendy .image-box img {
  width: 100%;
  height: 100%;
}
.trendy-home .trendy-box .trendy-list .trendy .content {
  width: 49%;
}
.trendy-home .trendy-box .trendy-list .trendy .content .date {
  font-size: 14px;
}
.trendy-home .trendy-box .trendy-list .trendy .content .title {
  margin-top: 8px;
  min-height: 44px;
  max-height: 66px;
}
.trendy-home .trendy-box .trendy-list .trendy .content .description {
  margin-top: 10px;
  height: 48px;
}
.trendy-home .trendy-box .trendy-list .trendy .content .icon-container {
  width: 131px;
  margin-top: 10px;
}
.trendy-home .trendy-box .trendy-list .trendy .content .icon-container li img {
  width: 15px;
  height: 15px;
}

.beauty-travel-home {
  position: relative;
  padding: 50px 174px 0px 175px;
  display: flex;
  justify-content: space-between;
}
.beauty-travel-home .beauty-travel-box {
  position: relative;
  width: 66%;
}
.beauty-travel-home .beauty-travel-box .beauty-box {
  margin-bottom: 50px;
}
.beauty-travel-home .beauty-travel-box .beauty-box .beauty {
  margin-top: 50px;
}
.beauty-travel-home .beauty-travel-box .beauty-box .beauty .image-box {
  height: 500px;
}
.beauty-travel-home .beauty-travel-box .beauty-box .beauty .image-box img {
  width: 100%;
  height: 100%;
}
.beauty-travel-home .beauty-travel-box .beauty-box .beauty .content .date {
  margin-top: 11px;
}
.beauty-travel-home .beauty-travel-box .beauty-box .beauty .content .title {
  font-size: 28px;
  line-height: 40px;
  height: 40px;
  margin-top: 15px;
}
.beauty-travel-home .beauty-travel-box .beauty-box .beauty .content .description {
  height: 48px;
  margin-top: 15px;
}
.beauty-travel-home .beauty-travel-box .beauty-box .beauty .content .icon-container {
  margin-top: 15px;
}
.beauty-travel-home .beauty-travel-box .beauty-box .show-all {
  display: none;
}
.beauty-travel-home .beauty-travel-box .travel-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.beauty-travel-home .beauty-travel-box .travel-box .travel {
  position: relative;
  background: #fff;
  width: 48%;
  margin-bottom: 64px;
  border-radius: 16px;
}
.beauty-travel-home .beauty-travel-box .travel-box .travel .image-box {
  height: 319px;
}
.beauty-travel-home .beauty-travel-box .travel-box .travel .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0px 0px;
}
.beauty-travel-home .beauty-travel-box .travel-box .travel .content {
  position: relative;
  padding: 0px 25px;
}
.beauty-travel-home .beauty-travel-box .travel-box .travel .content .title {
  text-align: center;
  margin-top: 39px;
  height: 22px;
}
.beauty-travel-home .beauty-travel-box .travel-box .travel .content .description {
  margin-top: 20px;
  min-height: 72px;
  max-height: 96px;
}
.beauty-travel-home .beauty-travel-box .travel-box .travel .content .icon-container {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
  margin-bottom: 34px;
}
.beauty-travel-home .beauty-travel-box .travel-box .travel .content .icon-container li img {
  width: 15px;
  height: 15px;
}
.beauty-travel-home .right-side {
  width: 31.6%;
  padding-top: 10px;
}
.beauty-travel-home .right-side .about-me .part-1 {
  height: 500px;
  padding: 30px 25px 0px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}
.beauty-travel-home .right-side .about-me .part-1 .text-1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15px;
}
.beauty-travel-home .right-side .about-me .part-1 .text-2 {
  font-weight: 300;
  margin-top: 30px;
  height: 48px;
  overflow: hidden;
}
.beauty-travel-home .right-side .about-me .part-1 .img-1 {
  margin-top: 30px;
  width: 100%;
  height: 200px;
  border-radius: 16px;
}
.beauty-travel-home .right-side .about-me .part-1 .img-2 {
  margin-top: 30px;
  width: 170px;
  height: 50px;
  border-radius: 16px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.beauty-travel-home .right-side .about-me .part-2 {
  position: relative;
  height: 592px;
  margin-top: 50px;
}
.beauty-travel-home .right-side .about-me .part-2 img {
  width: 100%;
  height: 100%;
}
.beauty-travel-home .right-side .about-me .part-2 .text-box {
  position: absolute;
  width: 83.5%;
  height: 145px;
  left: 30px;
  bottom: 30px;
  padding: 25px 28px 0px;
  color: #fff;
  background: #000;
}
.beauty-travel-home .right-side .about-me .part-2 .text-box p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.15px;
  height: 32px;
}
.beauty-travel-home .right-side .about-me .part-2 .text-box p:nth-child(2) {
  text-transform: uppercase;
  height: 54px;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.15px;
}
.beauty-travel-home .right-side .latest-find {
  height: 1070px;
  margin-bottom: 100px;
  overflow: hidden;
}

.video-home {
  position: relative;
  margin-top: 64px;
  margin-bottom: 50px;
  padding: 0px 174px 0px 175px;
  height: 400px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-home .content {
  width: 42.5%;
  height: 100%;
}
.video-home .content .title {
  text-transform: capitalize;
  font-size: 28px;
  line-height: 40px;
  height: 80px;
  margin-top: 98px;
}
.video-home .content > p {
  margin-top: 40px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  font-weight: 300;
}
.video-home .video-box {
  position: relative;
  width: 48.5%;
  height: 300px;
}
.video-home .video-box .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-home .video-box .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.family-box {
  position: relative;
  padding: 50px 174px 100px 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.family-box .family {
  position: relative;
  margin-bottom: 50px;
  width: 31.62%;
  border-radius: 8px;
  background: #fff;
}
.family-box .family .image-box {
  height: 321px;
}
.family-box .family .image-box img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 100%;
}
.family-box .family .heart-box {
  position: absolute;
  right: 20px;
  top: 283px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.family-box .family .heart-box img,
.family-box .family .heart-box p {
  transition: 0.5s;
}
.family-box .family .heart-box:hover {
  background: #ed4956;
  box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.family-box .family .heart-box:hover img {
  filter: invert(1);
}
.family-box .family .heart-box:hover p {
  color: #fff;
}
.family-box .family .content {
  padding: 30px 30px;
}
.family-box .family .content .date {
  font-size: 14px;
}
.family-box .family .content .title {
  margin-top: 10px;
  height: 44px;
  text-transform: capitalize;
}
.family-box .family .content .icon-container {
  margin-top: 10px;
}
.family-box .family .content .icon-container li img {
  width: 15px;
  height: 15px;
}

footer {
  height: 530px;
  background: #000;
  color: #fff;
}
footer .part-1 {
  padding: 0px 174px 0px 175px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .part-1 ul {
  display: none;
}
footer .part-1 .input-box {
  width: 300px;
  font-family: "Lato", sans-serif;
}
footer .part-1 .input-box .title {
  font-size: 14px;
  letter-spacing: 0.15px;
}
footer .part-1 .input-box input {
  width: 100%;
  height: 40px;
  margin-top: 25px;
}
footer .part-1 .input-box input::placeholder {
  text-align: center;
  letter-spacing: 0.15px;
}
footer .part-1 .input-box button {
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background: #c4c4c4;
  text-transform: uppercase;
  color: #fff;
}
footer .part-1 .recent-popular-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  overflow: hidden;
}
footer .part-1 .recent-popular-posts .title {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.15px;
}
footer .part-1 .recent-popular-posts li {
  list-style: none;
}
footer .part-1 .recent-popular-posts li .name {
  text-transform: uppercase;
  letter-spacing: 0.15px;
  height: 24px;
  overflow: hidden;
}
footer .part-1 .recent-popular-posts li .date {
  font-size: 12px;
  margin-top: 15px;
}
footer .part-2 {
  padding: 0px 50px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
footer .part-2 ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .part-2 ul li {
  list-style: none;
}
footer .part-2 ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
footer .part-2 ul li a:hover {
  text-decoration: underline;
}
footer .part-2 p {
  font-size: 16px;
}
footer .part-2 p a {
  margin-left: 10px;
  color: blue;
  text-transform: uppercase;
}

.date-res.travel {
  display: block;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.banner-trendy {
  height: 450px;
  object-fit: cover;
}
.banner-trendy img {
  width: 100%;
  height: 100%;
}

.trendy-page {
  padding: 100px 174px 0px 175px;
}
.trendy-page .trendy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.trendy-page .trendy .image-box {
  width: 57.3%;
  height: 350px;
}
.trendy-page .trendy .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trendy-page .trendy .content {
  width: 40%;
}
.trendy-page .trendy .content .title {
  margin-top: 20px;
  min-height: 80px;
  max-height: 120px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1.5px;
}
.trendy-page .trendy .content .description {
  margin-top: 25px;
  min-height: 72px;
  max-height: 92px;
}
.trendy-page .trendy .content .icon-container {
  margin-top: 30px;
}
.trendy-page .trendy:nth-child(even) {
  flex-direction: row-reverse;
}
.trendy-page .panigation {
  margin: 100px 0px;
}

.banner-beauty {
  display: flex;
  height: 550px;
}
.banner-beauty .image-box-1 {
  position: relative;
  width: 30%;
  padding-right: 18px;
}
.banner-beauty .image-box-1 img {
  width: 100%;
  height: 100%;
}
.banner-beauty .image-box-1 .title {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  height: 36px;
}
.banner-beauty .image-box-1:nth-child(1) .title {
  top: 55px;
}
.banner-beauty .image-box-1:nth-child(2) .title {
  bottom: 55px;
}
.banner-beauty .image-box-2 {
  position: relative;
  width: 40%;
}
.banner-beauty .image-box-2 .image-box-2-1,
.banner-beauty .image-box-2 .image-box-2-2 {
  height: 50%;
}
.banner-beauty .image-box-2 .image-box-2-1 img,
.banner-beauty .image-box-2 .image-box-2-2 img {
  width: 100%;
  height: 100%;
}
.banner-beauty .image-box-2 .image-box-2-1 {
  padding-bottom: 9px;
}
.banner-beauty .image-box-2 .image-box-2-1 ul {
  position: absolute;
  top: 30px;
  right: 30px;
}
.banner-beauty .image-box-2 .image-box-2-1 ul li {
  list-style: none;
  margin-bottom: 13px;
}
.banner-beauty .image-box-2 .image-box-2-1 ul li .title {
  color: #fff;
}
.banner-beauty .image-box-2 .image-box-2-2 {
  padding-top: 9px;
}
.banner-beauty .image-box-2 .image-box-2-2 .title {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  height: 36px;
  line-height: 36px;
  width: 300px;
  text-align: center;
  letter-spacing: 2px;
}

.beauty-page {
  display: flex;
  justify-content: space-between;
  padding: 100px 174px 0px 175px;
}
.beauty-page .beauty-list {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.beauty-page .beauty-list .beauty {
  width: 48%;
  margin-bottom: 30px;
}
.beauty-page .beauty-list .beauty .image-box {
  height: 270px;
}
.beauty-page .beauty-list .beauty .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.beauty-page .beauty-list .beauty .content {
  margin-top: 30px;
}
.beauty-page .beauty-list .beauty .content .title {
  text-align: center;
  height: 22px;
}
.beauty-page .beauty-list .beauty .content .description {
  margin-top: 15px;
  min-height: 72px;
  max-height: 92px;
}
.beauty-page .beauty-list .beauty .content .icon-container {
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.beauty-page .beauty-list .panigation {
  margin: 50px 0px 100px 0px;
}
.beauty-page .right-side {
  width: 31.6%;
}
.beauty-page .right-side > .image-box {
  height: 467px;
}
.beauty-page .right-side > .image-box a img {
  width: 100%;
  height: 100%;
}
.beauty-page .right-side .popular-box {
  margin-top: 83px;
}
.beauty-page .right-side .popular-box > .title {
  text-transform: uppercase;
  height: 36px;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-align: center;
}
.beauty-page .right-side .popular-box .popular-list {
  margin-top: 45px;
}
.beauty-page .right-side .popular-box .popular-list .popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.beauty-page .right-side .popular-box .popular-list .popular .image-box {
  height: 100px;
  width: 100px;
}
.beauty-page .right-side .popular-box .popular-list .popular .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.beauty-page .right-side .popular-box .popular-list .popular .content {
  width: 66%;
}
.beauty-page .right-side .popular-box .popular-list .popular .content .title {
  font-size: 12px;
  height: 15px;
}
.beauty-page .right-side .popular-box .popular-list .popular .content .description {
  height: 48px;
  margin-top: 5px;
}

.travel-page {
  position: relative;
  padding: 60px 174px 0px 175px;
}
.travel-page .travel-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.travel-page .travel-box .travel-main {
  width: 100%;
  position: relative;
}
.travel-page .travel-box .travel-main .image-box {
  height: 500px;
}
.travel-page .travel-box .travel-main .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.travel-page .travel-box .travel-main .content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -150px;
  width: 80%;
  height: 250px;
  background: #fff;
  border-radius: 16px;
  padding: 28px 70px 0px;
}
.travel-page .travel-box .travel-main .content .title {
  font-size: 28px;
  height: 40px;
  line-height: 40px;
}
.travel-page .travel-box .travel-main .content .description {
  margin-top: 20px;
  height: 44px;
}
.travel-page .travel-box .travel-main .content .icon-container {
  margin-top: 35px;
  left: 50%;
  transform: translateX(-50%);
}
.travel-page .travel-box .left-side,
.travel-page .travel-box .right-side {
  width: 49%;
}
.travel-page .travel-box .left-side .travel,
.travel-page .travel-box .right-side .travel {
  position: relative;
  margin-top: 160px;
}
.travel-page .travel-box .left-side .travel .image-box,
.travel-page .travel-box .right-side .travel .image-box {
  height: 500px;
}
.travel-page .travel-box .left-side .travel .image-box img,
.travel-page .travel-box .right-side .travel .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.travel-page .travel-box .left-side .travel .content,
.travel-page .travel-box .right-side .travel .content {
  position: absolute;
  width: 80%;
  height: 245px;
  border-radius: 16px;
  background: #fff;
  bottom: -122.25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 25px 30px;
}
.travel-page .travel-box .left-side .travel .content .title,
.travel-page .travel-box .right-side .travel .content .title {
  height: 33px;
  font-size: 24px;
  line-height: 33px;
}
.travel-page .travel-box .left-side .travel .content .description,
.travel-page .travel-box .right-side .travel .content .description {
  margin-top: 21px;
  height: 96px;
}
.travel-page .travel-box .left-side .travel .content .icon-container,
.travel-page .travel-box .right-side .travel .content .icon-container {
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.travel-page .travel-box .left-side .travel:nth-child(2) .image-box {
  height: 700px;
}
.travel-page .travel-box .right-side .travel:nth-child(1) .image-box {
  height: 700px;
}
.travel-page .button {
  margin-top: 245px;
  margin-bottom: 100px;
}

.sport-wear-page {
  padding: 100px 174px 100px 175px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sport-wear-page .sport-wear {
  width: 49%;
  margin-bottom: 50px;
}
.sport-wear-page .sport-wear .image-box {
  height: 600px;
}
.sport-wear-page .sport-wear .image-box img {
  width: 100%;
  height: 100%;
}
.sport-wear-page .sport-wear .content {
  margin-top: 30px;
}
.sport-wear-page .sport-wear .content .title {
  margin-top: 14px;
  height: 80px;
  font-size: 28px;
  line-height: 40px;
  text-transform: inherit;
}
.sport-wear-page .sport-wear .content .description {
  height: 120px;
  margin-top: 34px;
}
.sport-wear-page .sport-wear .content .icon-container {
  display: none;
}
.sport-wear-page .sport-wear:nth-child(1) {
  width: 100%;
}
.sport-wear-page .sport-wear:nth-child(1) .image-box {
  height: 450px;
}
.sport-wear-page .sport-wear:nth-child(1) .content .date {
  text-align: center;
}
.sport-wear-page .sport-wear:nth-child(1) .content .title {
  height: 40px;
  text-transform: uppercase;
  text-align: center;
}
.sport-wear-page .sport-wear:nth-child(1) .content .description {
  margin-top: 10px;
  height: 72px;
}
.sport-wear-page .panigation {
  margin-top: 100px;
}

.videos-page {
  padding: 50px 174px 100px 175px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.videos-page .video {
  position: relative;
  width: 49%;
}
.videos-page .video .image-box {
  position: relative;
  height: 500px;
}
.videos-page .video .image-box img {
  position: absolute;
}
.videos-page .video .image-box img:nth-child(1) {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.videos-page .video .image-box img:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.videos-page .video .content {
  position: relative;
  bottom: 103px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: #fff;
  border-radius: 16px;
  padding: 20px 25px 20px 25px;
}
.videos-page .video .content .title {
  font-size: 24px;
  line-height: 33px;
  height: 33px;
}
.videos-page .video .content .description {
  margin-top: 19px;
  height: 96px;
}
.videos-page .video .content .share-icon-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.videos-page .video .content .share-icon-box .share {
  display: flex;
}
.videos-page .video .content .share-icon-box .share > p {
  margin-right: 15px;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 300;
}
.videos-page .video .content .share-icon-box .share .followers {
  margin: 0;
}
.videos-page .video .content .share-icon-box .share .followers p {
  margin-left: 15px;
}
.videos-page .video .content .icon-container {
  display: none;
}
.videos-page .video:nth-child(1) {
  width: 100%;
}
.videos-page .video:nth-child(1) .content .share-icon-box .icon-container {
  display: flex;
}

.family-box.family-page {
  padding: 100px 174px 50px 175px;
}

.details-page {
  padding: 50px 174px 0px 175px;
  display: flex;
  justify-content: space-between;
}
.details-page .details-box {
  width: 65.8%;
  background: #fff;
}
.details-page .right-side {
  width: 31.6%;
}
.details-page .right-side .related-news {
  background: #fff;
  border-radius: 8px;
  padding: 52px 45px 50px 50px;
}
.details-page .right-side .related-news > .title {
  font-family: "Exo 2", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
}
.details-page .right-side .related-news .news-list .new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.details-page .right-side .related-news .news-list .new .image-box {
  position: relative;
  width: 85px;
  height: 85px;
}
.details-page .right-side .related-news .news-list .new .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.details-page .right-side .related-news .news-list .new .image-box p {
  font-family: "GFS Didot", serif;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffb284;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.details-page .right-side .related-news .news-list .new .image-box p.active {
  background: #000;
}
.details-page .right-side .related-news .news-list .new .content {
  width: 60%;
}
.details-page .right-side .related-news .news-list .new .content .title {
  height: 44px;
}
.details-page .right-side .latest-find {
  height: 763px;
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 30px;
  background: #fff;
}

@media (max-width: 1920px) {
  header,
.trendy-home,
.beauty-travel-home,
.video-home,
.family-box,
.bread-cumb,
.trendy-page,
.beauty-page,
.travel-page,
.sport-wear-page,
.videos-page,
.family-box.family-page,
.details-page {
    padding-right: 374.5px;
    padding-left: 375.5px;
  }

  footer .part-1 {
    padding-right: 374.5px;
    padding-left: 375.5px;
  }
  footer .part-2 {
    padding: 0px 100px;
  }
}
@media (max-width: 1680px) {
  header,
.trendy-home,
.beauty-travel-home,
.video-home,
.family-box,
.bread-cumb,
.trendy-page,
.beauty-page,
.travel-page,
.sport-wear-page,
.videos-page,
.family-box.family-page,
.details-page {
    padding-right: 254.5px;
    padding-left: 255.5px;
  }

  footer .part-1 {
    padding-right: 254.5px;
    padding-left: 255.5px;
  }
}
@media (max-width: 1550px) {
  header,
.trendy-home,
.beauty-travel-home,
.video-home,
.family-box,
.bread-cumb,
.trendy-page,
.beauty-page,
.travel-page,
.sport-wear-page,
.videos-page,
.family-box.family-page,
.details-page {
    padding-right: 174px;
    padding-left: 175px;
  }

  footer .part-1 {
    padding-right: 174px;
    padding-left: 175px;
  }
  footer .part-2 {
    padding: 0px 50px;
  }
}
@media (max-width: 1440px) {
  header,
.bread-cumb,
.trendy-home,
.beauty-travel-home,
.video-home,
.family-box,
.trendy-page,
.beauty-page,
.travel-page,
.sport-wear-page,
.videos-page,
.family-box.family-page,
.details-page {
    padding-right: 134.5px;
    padding-left: 135.5px;
  }

  footer .part-1,
footer .part2 {
    padding-right: 134.5px;
    padding-left: 135.5px;
  }
}
@media (max-width: 1024px) {
  header,
.bread-cumb,
.trendy-home,
.beauty-travel-home,
.video-home,
.family-box,
.trendy-page,
.beauty-page,
.travel-page,
.sport-wear-page,
.videos-page,
.family-box.family-page,
.details-page {
    padding-right: 40px;
    padding-left: 40px;
  }

  footer .part-1,
footer .part-2 {
    padding-right: 40px;
    padding-left: 40px;
  }
  footer .part-1 .recent-popular-posts.recent {
    display: none;
  }
  footer .part-2 {
    justify-content: flex-end;
  }
  footer .part-2 ul {
    display: none;
  }
  footer .part-2 p {
    font-size: 14px;
  }

  header .search-header {
    width: 350px;
    height: 30px;
  }
  header .search-header .search-icon-header {
    top: 4px;
    right: 10px;
    transform: scale(0.8);
  }

  .banner-beauty .image-box-1 {
    padding-right: 9px;
  }
  .banner-beauty .image-box-1:nth-child(1) .title {
    top: 30px;
  }
  .banner-beauty .image-box-1:nth-child(2) .title {
    bottom: 30px;
  }
  .banner-beauty .image-box-2 .image-box-2-1 {
    padding-bottom: 4.5px;
  }
  .banner-beauty .image-box-2 .image-box-2-2 {
    padding-top: 4.5px;
  }
  .banner-beauty .image-box-2 .image-box-2-2 .title {
    bottom: 30px;
  }

  .beauty-page .right-side .popular-box .popular-list .popular .content {
    padding-left: 20px;
  }
  .beauty-page .right-side .popular-box .popular-list .popular .content .description {
    text-align: left;
  }

  .details-page .right-side .related-news .news-list .new .content {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  header,
.bread-cumb,
.trendy-home,
.beauty-travel-home,
.video-home,
.family-box,
.trendy-page,
.beauty-page,
.travel-page,
.sport-wear-page,
.videos-page,
.family-box.family-page,
.details-page {
    padding-right: 25px;
    padding-left: 25px;
  }

  .button {
    width: 150px;
    height: 35px;
    font-size: 12px;
  }

  .latest-find .products-list .product .image-box {
    padding: 0px 20px;
    width: 100%;
  }
  .latest-find .products-list .product .content .title {
    line-height: 18px;
    height: 38px;
  }

  header .logo-header {
    width: 150px;
    height: 70px;
  }
  header .logo-header img {
    height: 100%;
    width: 100%;
  }
  header .search-header {
    width: 220px;
    height: 25px;
  }
  header .search-header .search-icon-header {
    top: 1px;
    right: 10px;
    transform: scale(0.6);
  }

  footer .part-1 img {
    height: 150px;
  }
  footer .part-1 .input-box {
    width: 220px;
  }
  footer .part-1 .input-box input,
footer .part-1 .input-box button {
    height: 30px;
    margin-top: 10px;
  }
  footer .part-1 .recent-popular-posts {
    height: 250px;
  }
  footer .part-1 .recent-popular-posts li .date {
    margin-top: 5px;
  }
  footer .part-2 p {
    font-size: 12px;
  }

  .trendy-home .trendy-box .main-trendy {
    width: 46%;
  }
  .trendy-home .trendy-box .trendy-list {
    margin-left: 0;
    width: 52%;
  }

  .beauty-travel-home .beauty-travel-box {
    width: 70%;
  }
  .beauty-travel-home .beauty-travel-box .travel-box .travel .image-box {
    height: 250px;
  }
  .beauty-travel-home .right-side {
    width: 26%;
  }
  .beauty-travel-home .right-side .about-me .part-1 {
    padding: 0px 20px;
    height: 450px;
  }
  .beauty-travel-home .right-side .about-me .part-1 .text-1,
.beauty-travel-home .right-side .about-me .part-1 .text-2,
.beauty-travel-home .right-side .about-me .part-1 .img-2 {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .beauty-travel-home .right-side .about-me .part-2 {
    display: none;
  }

  .video-home .video-box {
    height: 250px;
  }

  .family-box .family .image-box {
    height: 250px;
  }
  .family-box .family .heart-box {
    top: 225px;
    right: 15px;
    width: 50px;
    height: 50px;
  }
  .family-box .family .heart-box img,
.family-box .family .heart-box p {
    transform: scale(0.8);
  }

  .trendy-page .trendy .image-box {
    width: 50%;
  }
  .trendy-page .trendy .content {
    width: 47%;
  }
  .trendy-page .trendy .content .title {
    letter-spacing: 0.5px;
  }
  .trendy-page .trendy .content .icon-container li img {
    width: 17px;
    height: 17px;
  }

  .banner-beauty {
    height: 450px;
  }
  .banner-beauty .image-box-1 {
    width: 45%;
  }
  .banner-beauty .image-box-1:nth-child(1) {
    display: none;
  }
  .banner-beauty .image-box-1:nth-child(2) .title {
    bottom: 10px;
  }
  .banner-beauty .image-box-2 {
    width: 55%;
  }
  .banner-beauty .image-box-2 .image-box-2-1 ul li {
    margin-bottom: 7px;
  }
  .banner-beauty .image-box-2 .image-box-2-2 .title {
    bottom: 10px;
  }

  .beauty-page {
    padding-top: 50px;
  }
  .beauty-page .beauty-list {
    width: 70%;
  }
  .beauty-page .beauty-list .beauty .content .icon-container li img {
    width: 17px;
    height: 17px;
  }
  .beauty-page .right-side {
    width: 26%;
  }
  .beauty-page .right-side > .image-box {
    height: 430px;
  }
  .beauty-page .right-side .popular-box {
    margin-top: 60px;
  }
  .beauty-page .right-side .popular-box > .title {
    font-size: 20px;
  }
  .beauty-page .right-side .popular-box .popular-list {
    margin-top: 30px;
  }
  .beauty-page .right-side .popular-box .popular-list .popular .image-box {
    width: 75px;
    height: 75px;
  }

  .travel-page .travel-box .travel-main .image-box {
    height: 400px;
  }
  .travel-page .travel-box .travel-main .content {
    bottom: -100px;
    height: 200px;
    padding: 20px 30px 0px;
  }
  .travel-page .travel-box .left-side .travel .image-box,
.travel-page .travel-box .right-side .travel .image-box {
    height: 400px;
  }
  .travel-page .travel-box .left-side .travel .content,
.travel-page .travel-box .right-side .travel .content {
    width: 90%;
    height: 200px;
    padding-top: 15px;
  }
  .travel-page .travel-box .left-side .travel .content .title,
.travel-page .travel-box .right-side .travel .content .title {
    line-height: 25px;
    height: 25px;
  }
  .travel-page .travel-box .left-side .travel .content .description,
.travel-page .travel-box .right-side .travel .content .description {
    margin-top: 10px;
  }
  .travel-page .travel-box .left-side .travel .content .icon-container li img,
.travel-page .travel-box .right-side .travel .content .icon-container li img {
    width: 17px;
    height: 17px;
  }
  .travel-page .travel-box .left-side .travel:nth-child(2) .image-box {
    height: 600px;
  }
  .travel-page .travel-box .right-side .travel:nth-child(1) .image-box {
    height: 600px;
  }
  .travel-page .button {
    margin-top: 200px;
  }

  .sport-wear-page {
    padding-top: 50px;
  }
  .sport-wear-page .sport-wear .image-box {
    height: 500px;
  }
  .sport-wear-page .sport-wear:nth-child(1) .image-box {
    height: 400px;
  }
  .sport-wear-page .panigation {
    margin-top: 50px;
  }

  .videos-page .video {
    margin-bottom: 130px;
  }
  .videos-page .video .image-box {
    height: 400px;
  }
  .videos-page .video .content {
    position: absolute;
    width: 90%;
    height: 200px;
    padding-top: 15px;
    bottom: -100px;
  }
  .videos-page .video .content .title {
    line-height: 25px;
    height: 25px;
  }
  .videos-page .video .content .description {
    margin-top: 10px;
    height: 72px;
  }
  .videos-page .video .content .icon-container li img {
    width: 17px;
    height: 17px;
  }
  .videos-page .button {
    margin-top: 50px;
  }

  .details-page .details-box {
    width: 70%;
  }
  .details-page .right-side {
    width: 26%;
  }
  .details-page .right-side .related-news {
    padding: 30px 10px;
  }
  .details-page .right-side .related-news .news-list .new {
    margin-top: 20px;
  }
  .details-page .right-side .related-news .news-list .new .image-box {
    width: 50px;
    height: 50px;
  }
  .details-page .right-side .related-news .news-list .new .image-box p {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 14px;
  }
  .details-page .right-side .related-news .news-list .new .content {
    width: 70%;
    padding-left: 10px;
  }
  .details-page .right-side .related-news .news-list .new .content .title {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  header,
.trendy-home,
.beauty-travel-home,
.video-home,
.family-box,
.bread-cumb,
.trendy-page,
.beauty-page,
.travel-page,
.sport-wear-page,
.videos-page,
.family-box.family-page,
.details-page {
    padding-right: 30px;
    padding-left: 30px;
  }

  footer .part-1,
footer .part-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .main-title.res {
    display: block;
    margin-top: 25px;
  }

  header {
    height: 60px;
  }
  header .nav-icon,
header .search-icon {
    cursor: pointer;
    display: initial;
    transform: scale(1.1);
  }
  header .logo-header {
    width: 70px;
    height: 40px;
  }
  header .search-header {
    display: none;
  }
  header .date-header {
    display: none;
  }

  .close-nav {
    position: absolute;
    top: 30px;
    right: 50px;
    display: initial;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .close-nav::after,
.close-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #000;
    transform: rotateZ(45deg);
  }

  .close-nav::before {
    transform: rotateZ(-45deg);
  }

  .navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 100vh;
    background: #fff9f7;
    align-items: flex-start;
    transition: 0.5s;
    z-index: 1;
  }
  .navigation ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .navigation ul li {
    margin-top: 20px;
  }
  .navigation ul li a {
    font-size: 18px;
    line-height: 22px;
  }

  .navigation.active {
    left: 0;
  }

  .icon-container li img {
    width: 15px;
    height: 15px;
  }

  .banner-home {
    height: 250px;
  }

  .trendy-home {
    padding-top: 50px;
  }
  .trendy-home .trendy-box {
    flex-direction: column;
  }
  .trendy-home .trendy-box .main-trendy {
    width: 100%;
  }
  .trendy-home .trendy-box .main-trendy .image-box {
    height: 420px;
  }
  .trendy-home .trendy-box .main-trendy .content .date {
    font-size: 14px;
  }
  .trendy-home .trendy-box .main-trendy .content .title {
    font-size: 20px;
    line-height: 30px;
    height: 90px;
  }
  .trendy-home .trendy-box .main-trendy .content .icon-container {
    margin-top: 20px;
  }
  .trendy-home .trendy-box .trendy-list {
    width: 100%;
  }
  .trendy-home .trendy-box .trendy-list .trendy {
    flex-direction: column;
    margin-top: 30px;
  }
  .trendy-home .trendy-box .trendy-list .trendy .image-box {
    width: 100%;
    height: 300px;
  }
  .trendy-home .trendy-box .trendy-list .trendy .content {
    width: 100%;
  }
  .trendy-home .trendy-box .trendy-list .trendy .content .date {
    margin-top: 5px;
  }
  .trendy-home .trendy-box .trendy-list .trendy .content .title {
    height: 48px;
  }
  .trendy-home .trendy-box .trendy-list .trendy .content .description {
    display: none;
  }
  .trendy-home .trendy-box .show-all {
    text-align: left;
  }

  .banner-beauty .title {
    display: none;
  }

  .beauty-travel-home {
    padding-top: 100px;
  }
  .beauty-travel-home .beauty-travel-box {
    width: 100%;
  }
  .beauty-travel-home .beauty-travel-box .beauty-box {
    position: relative;
  }
  .beauty-travel-home .beauty-travel-box .beauty-box .beauty {
    margin-top: 25px;
  }
  .beauty-travel-home .beauty-travel-box .beauty-box .beauty .content .date {
    margin-top: 5px;
  }
  .beauty-travel-home .beauty-travel-box .beauty-box .beauty .content .title {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
  }
  .beauty-travel-home .beauty-travel-box .beauty-box .beauty .content .description {
    display: none;
  }
  .beauty-travel-home .beauty-travel-box .beauty-box .show-all {
    display: block;
    margin-top: 30px;
    text-align: left;
  }
  .beauty-travel-home .beauty-travel-box .travel-box .travel {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 0px;
  }
  .beauty-travel-home .beauty-travel-box .travel-box .travel .image-box {
    height: 300px;
  }
  .beauty-travel-home .beauty-travel-box .travel-box .travel .image-box img {
    border-radius: 0px;
  }
  .beauty-travel-home .beauty-travel-box .travel-box .travel .content {
    padding: 0px 15px;
  }
  .beauty-travel-home .beauty-travel-box .travel-box .travel .content .title {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
    height: 25px;
  }
  .beauty-travel-home .beauty-travel-box .travel-box .travel .content .description {
    margin-top: 10px;
  }
  .beauty-travel-home .beauty-travel-box .travel-box .travel .content .icon-container {
    margin-top: 15px;
  }
  .beauty-travel-home .beauty-travel-box .travel-box .button {
    margin-top: 50px;
  }
  .beauty-travel-home .right-side {
    display: none;
  }

  .video-home {
    flex-direction: column-reverse;
    padding-top: 12.5px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 390px;
  }
  .video-home .content {
    width: 100%;
    height: 100px;
    margin-top: 20px;
  }
  .video-home .content .title {
    margin-top: 20px;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
  }
  .video-home .content > p {
    margin-top: 15px;
  }
  .video-home .content .followers {
    margin-top: 15px;
  }
  .video-home .video-box {
    width: 100%;
    height: 185px;
  }
  .video-home .video-box .icon {
    width: 70px;
    height: 70px;
  }

  .family-box {
    padding-bottom: 50px;
  }
  .family-box .family {
    width: 100%;
  }
  .family-box .family .image-box {
    height: 300px;
  }
  .family-box .family .content {
    padding: 20px;
  }
  .family-box .family .content .title {
    text-transform: uppercase;
    font-size: 16px;
  }
  .family-box .family .heart-box {
    width: 60px;
    height: 60px;
    top: 270px;
  }

  footer {
    height: 430px;
  }
  footer .part-1 {
    flex-direction: column;
    padding-top: 30px;
    justify-content: flex-start;
    align-items: center;
    height: 350px;
  }
  footer .part-1 img {
    width: 50px;
    height: 61px;
  }
  footer .part-1 ul {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  footer .part-1 ul li {
    list-style: none;
  }
  footer .part-1 ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
  footer .part-1 .input-box {
    display: none;
  }
  footer .part-1 .recent-popular-posts {
    display: none;
  }
  footer .part-2 p {
    text-align: center;
  }

  .banner-trendy {
    display: none;
  }

  .trendy-page {
    padding-top: 25px;
  }
  .trendy-page .trendy {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .trendy-page .trendy:nth-child(1) .image-box {
    height: 420px;
  }
  .trendy-page .trendy .image-box {
    width: 100%;
    height: 182px;
  }
  .trendy-page .trendy .content {
    width: 100%;
  }
  .trendy-page .trendy .content .date-res {
    margin-top: 20px;
  }
  .trendy-page .trendy .content .title {
    margin-top: 3px;
    height: 75px;
    font-size: 16px;
    line-height: 25px;
  }
  .trendy-page .trendy .content .description {
    height: 88px;
    margin-top: 7px;
  }
  .trendy-page .trendy .content .icon-container {
    margin-top: 28px;
    left: 100%;
    transform: translateX(-100%);
  }
  .trendy-page .trendy:nth-child(even) {
    flex-direction: column;
  }
  .trendy-page .panigation {
    margin: 50px 0px;
  }

  .banner-beauty {
    margin-top: 25px;
    flex-wrap: wrap;
    height: 100%;
  }
  .banner-beauty .image-box-1 {
    width: 50%;
  }
  .banner-beauty .image-box-1:nth-child(1) {
    display: block;
    padding-right: 3.5px;
  }
  .banner-beauty .image-box-1:nth-child(2) {
    padding-left: 3.5px;
    padding-right: 0px;
  }
  .banner-beauty .image-box-2 {
    width: 100%;
  }
  .banner-beauty .image-box-2 .image-box-2-1 {
    padding-top: 7px;
    height: 160px;
  }
  .banner-beauty .image-box-2 .image-box-2-2 {
    display: none;
  }

  .beauty-page {
    padding-top: 30px;
  }
  .beauty-page .beauty-list {
    width: 100%;
  }
  .beauty-page .beauty-list .beauty {
    width: 100%;
    justify-content: flex-start;
  }
  .beauty-page .beauty-list .beauty .content {
    margin-top: 15px;
  }
  .beauty-page .beauty-list .beauty .content .description {
    margin-top: 12px;
  }
  .beauty-page .beauty-list .panigation {
    margin: 20px 0px 50px;
  }
  .beauty-page .right-side {
    display: none;
  }

  .travel-page {
    padding: 25px 0px 50px;
  }
  .travel-page .travel-box .travel-main .image-box {
    height: 250px;
  }
  .travel-page .travel-box .travel-main .image-box img {
    border-radius: 0px;
  }
  .travel-page .travel-box .travel-main .content {
    position: inherit;
    top: 0;
    width: 100%;
    border-radius: 0px;
    height: 210px;
  }
  .travel-page .travel-box .travel-main .content .title {
    font-size: 16px;
    height: 50px;
    line-height: 25px;
  }
  .travel-page .travel-box .travel-main .content .description {
    margin-top: 10px;
    height: 72px;
  }
  .travel-page .travel-box .travel-main .content .icon-container {
    width: 131px;
    margin-top: 20px;
  }
  .travel-page .travel-box .left-side,
.travel-page .travel-box .right-side {
    width: 100%;
  }
  .travel-page .travel-box .left-side .travel,
.travel-page .travel-box .right-side .travel {
    margin-top: 30px;
  }
  .travel-page .travel-box .left-side .travel .image-box,
.travel-page .travel-box .right-side .travel .image-box {
    height: 330px;
  }
  .travel-page .travel-box .left-side .travel .image-box img,
.travel-page .travel-box .right-side .travel .image-box img {
    border-radius: 0px;
  }
  .travel-page .travel-box .left-side .travel .content,
.travel-page .travel-box .right-side .travel .content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .travel-page .travel-box .left-side .travel .content .title,
.travel-page .travel-box .right-side .travel .content .title {
    font-size: 16px;
    line-height: 25px;
    height: 50px;
  }
  .travel-page .travel-box .left-side .travel .content .icon-container,
.travel-page .travel-box .right-side .travel .content .icon-container {
    width: 131px;
    margin-top: 20px;
  }
  .travel-page .travel-box .left-side .travel:nth-child(2) .image-box {
    height: 450px;
  }
  .travel-page .travel-box .right-side .travel:nth-child(1) .image-box {
    height: 450px;
  }
  .travel-page .button {
    margin: 50px 0px;
  }

  .sport-wear-page {
    padding: 25px 0px 0px;
  }
  .sport-wear-page .sport-wear {
    width: 100%;
    margin-bottom: 30px;
  }
  .sport-wear-page .sport-wear:nth-child(1) .image-box {
    height: 200px;
  }
  .sport-wear-page .sport-wear:nth-child(1) .content {
    margin-top: 20px;
  }
  .sport-wear-page .sport-wear:nth-child(1) .content .title {
    height: 50px;
  }
  .sport-wear-page .sport-wear .image-box {
    height: 400px;
  }
  .sport-wear-page .sport-wear .content {
    padding: 13px;
  }
  .sport-wear-page .sport-wear .content .date {
    text-align: center;
  }
  .sport-wear-page .sport-wear .content .title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    height: 50px;
  }
  .sport-wear-page .sport-wear .content .description {
    display: none;
  }
  .sport-wear-page .sport-wear .content .icon-container {
    display: flex;
    width: 131px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
  .sport-wear-page .panigation {
    margin: 20px 0px 50px;
  }

  .videos-page {
    padding: 0;
  }
  .videos-page .video {
    width: 100%;
    margin-top: 0px;
  }
  .videos-page .video .image-box {
    height: 330px;
  }
  .videos-page .video .image-box img:nth-child(1) {
    border-radius: 0px;
  }
  .videos-page .video .image-box img:nth-child(2) {
    width: 85px;
    height: 85px;
  }
  .videos-page .video .content {
    padding: inherit;
    border-radius: 0px;
    width: 100%;
  }
  .videos-page .video .content .title {
    font-size: 16px;
    line-height: 25px;
    height: 50px;
  }
  .videos-page .video .content .share-icon-box {
    display: none;
  }
  .videos-page .video .content .icon-container {
    width: 131px;
    display: flex;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .videos-page .video:nth-child(1) {
    margin-top: 25px;
  }
  .videos-page .button {
    margin: 30px 0px 50px;
  }

  .family-box.family-page {
    padding-top: 25px;
  }

  .family-box.family-page.res {
    display: none;
  }

  .details-page {
    padding: 25px 0px 50px;
  }
  .details-page .details-box {
    width: 100%;
    background: #000;
  }
  .details-page .right-side {
    display: none;
  }
}
@media (max-width: 375px) {
  header,
.trendy-home,
.beauty-travel-home,
.video-home,
.family-box,
.bread-cumb,
.trendy-page,
.beauty-page,
.travel-page,
.sport-wear-page,
.videos-page,
.family-box.family-page,
.details-page {
    padding-right: 12.5px;
    padding-left: 12.5px;
  }

  footer .part-1,
footer .part-2 {
    padding-right: 12.5px;
    padding-left: 12.5px;
  }

  .icon-container {
    width: 105px;
  }

  .show-all {
    font-size: 14px;
  }

  .banner-home {
    height: 180px;
  }

  .trendy-home .trendy-box .trendy-list .trendy .image-box {
    height: 300px;
  }
  .trendy-home .trendy-box .trendy-list .trendy .content .date {
    margin-top: 5px;
  }
  .trendy-home .trendy-box .trendy-list .trendy .content .title {
    height: 48px;
  }
  .trendy-home .trendy-box .trendy-list .trendy .content .description {
    display: none;
  }

  .beauty-travel-home {
    padding-top: 30px;
  }
  .beauty-travel-home .beauty-travel-box .beauty-box .beauty .image-box {
    height: 227px;
  }
  .beauty-travel-home .beauty-travel-box .beauty-box .show-all {
    margin-top: 10px;
  }
  .beauty-travel-home .beauty-travel-box .travel-box {
    margin-top: 25px;
  }
  .beauty-travel-home .beauty-travel-box .travel-box .content .description {
    text-align: center;
  }

  .sport-wear-page,
.travel-page {
    padding: 25px 0px 0px;
  }

  .videos-page {
    padding: 0;
  }

  .details-page {
    padding: 25px 0px 50px;
  }
}

/*# sourceMappingURL=main.css.map */
